<section class="d-flex">
  <form class="d-flex flex-column w-40 mx-auto">
    <h1>Register Form</h1>
    <input type="text" name="name" id="name" placeholder="Name" />
    <input type="text" name="email" id="email" placeholder="Email" />
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Password"
    />
    <input type="text" name="photo" id="photo" placeholder="Photo" />
    <button  type="button" id="registerUsers" class="btn btn-outline-success">Register</button>
    

  </form>
  <article class="d-flex flex-column w-40 mx-auto">
    <h3>Latest Users</h3>
  <span id="updateUsers">
  </span>
  </article>
</section>
